* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 120px;
    background-image: linear-gradient(rgb(5, 50, 79), rgb(230, 71, 97));
    color: white;
}

h1,
h2,
h3 {
    text-align: center;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

main {
    padding: 15px 0 5px 0;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

ol {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
}

.card {
    width: 80%;
    padding: 5px 0;
    margin: 30px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #3e3e3e;
}

.card h3 {
    position: relative;
    margin-top: -20px;
    background-color: rgb(23, 23, 74);
    color: white;
}

code {
    background-color: rgba(23, 23, 74, 0.6);
}